<section id="contact-section">
    <div class="contact-container">
        <h2>Contact Me!</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text">

            <label for="email">Email:</label>
            <input type="email">

            <label for="message">Message:</label>
            <textarea rows="5"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</section>