<section id="work-section">
    <h2>View my work:</h2>

    <div class="project-container">
        <%= image_tag("18.png", class: "project-image") %>
        <h3 class="project-title"><a href="https://github.com/maria-kennedy/hello-fresh_lite">Hello Fresh Lite</a></h3>
        <p class="project-description">3081 Final Project</p>
    </div>

    <div class="project-container">
        <%= image_tag("19.png", class: "project-image") %>
        <h3 class="project-title"><a href="https://maria-kennedy.github.io/true-false-quiz/">True-False Quiz</a></h3>
        <p class="project-description">SA15</p>
    </div>

    <div class="project-container">
        <%= image_tag("21.png", class: "project-image") %>
        <h3 class="project-title"><a href="https://cheersstickerco.etsy.com">Cheers Sticker Co.</a></h3>

        <p class="project-description">
            Fun fact: I have an etsy shop! 
            I'm closed until after finals though so 
            if you click it, you wont see anything lol.</p>
    </div>
</section>
